 .loader {
	margin:auto;
    border: 16px solid #f3f3f3;
    border-top: 16px solid green; 
	border-bottom: 16px solid green;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.coindetails {color:black !important;}
	.card {margin-bottom:20px}
        *,body {
            font-family: 'Roboto Condensed', sans-serif;
        }
    
        .fa-chevron-down,.fa-chevron-up {
            float:right
        }
    
        .brand-margin{
            margin-top:4px;
            margin-bottom:4px
        }

        .inlinediv {
            display: inline-block;
            padding-right: 5%;
            vertical-align: top;
        }
        .plb-tooltip {
            white-space: nowrap;
            text-decoration: none;
            border-bottom: 1px dotted;
            color: black;
        }
        .plb-tooltip:hover {
            text-decoration: none;
        }

        form h5 {
            font-weight: 700;
        }

        form p,
        form h5 {
            margin-bottom: 5px;
        }

        .nav .fa {
            color: black;
        }

        #file,
        #input-file {
            display: none;
        }
        
        div.alert{
          padding:0px;margin-bottom:0px
        }
		
		.lendingimage { height:32px;width:32px;}
		.margintop {margin-top:10px;}
		.marginbottom {margin-bottom:10px;}
		.marginzero {margin-bottom:0;}
		.chartstyle {width:300px;height:400px;}
		.cardicon {font-size:50px;text-align:center;padding-top:1.25rem;display:block}
		
		.bootstrap-switch .bootstrap-switch-handle-off, .bootstrap-switch .bootstrap-switch-handle-on, .bootstrap-switch .bootstrap-switch-label {padding:8px 12px;}